#contacto1{    
    width: 90%;
    height: 700px;   
    margin-left: 60px; 
    scroll-margin: 150px;
    padding: 50px;
    background-color: rgba(128, 128, 128, 0.178);
    .contact{
        padding-top: 40px;
        padding-bottom: 40px;
        font-family: 'anto';        
        letter-spacing: 4px;        
        font-size: 3rem;
        color: black;            
          
    }
    .contact2-flex{   
        max-width: 1200px;
        padding: 20px;
        border: 2px solid rgb(0, 82, 86);
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: "arial";
        font-weight: bold;
        font-size: 3rem;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        margin-bottom: 40px;
        }
        .contact-form{  
            width: 500px;                 
            letter-spacing: 4px;
            color: rgb(0, 82, 86);
            font-size: 2rem;            
            .login-box {                              
                padding: 30px;   
                margin-top: 4px;                
                box-sizing: border-box;  
                form a {
                    position: relative;                
                    padding: 10px 15px;
                    color: black;
                    font-size: 2rem;
                    text-decoration: none;
                    text-transform: uppercase;
                    overflow: hidden;
                    transition: .5s;
                    margin-top: 40px;
                    letter-spacing: 4px;
    
                    &:hover {
                        background: grey;
                        color: rgb(0, 82, 86);
                        border-radius: 5px;
                        
                    }
                }
            .user-box {
                position: relative;
            }
            input {
                width: 100%;
                padding: 10px 0;
                font-size: 16px;
                color: rgb(0, 82, 86);
                margin-bottom: 30px;
                border: none;
                border-bottom:rgb(0, 82, 86);
                outline: none;
                background: transparent;
            }
            textarea{
                width: 100%;
                padding: 10px 0;
                font-size: 16px;
                color: rgb(0, 82, 86);
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid black;
                outline: none;
                background: transparent;
            }
            label {
                position: absolute;
                top:0;
                left: 0;
                padding: 10px 0;
                font-size: 16px;
                color: rgb(0, 82, 86);
                pointer-events: none;
                transition: .5s;
            }
            input:focus~label,
            input:valid~label {
                top: -20px;
                left: 0;
                color: black;
                font-size: 12px;               
            }
            .boton {
                background-color:rgb(0, 82, 86);
                font-size: 2rem;
                font-family: 'anto';
                padding: 5px 180px;                
                border-radius: 10px;
                color: white;                
                &:hover {
                    transform: scale(1.1);
                    background-color: rgb(0, 128, 128);
                } 
            
            }  
                        
        }
    }
}  