#home{
    width: 100%;
    height: 670px;
    padding-top: 150px;
    background-image: url(../imagenes/home.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    div{        
        text-align: center;      
        padding: 10px 10px;
        width: 60%;
        background-color: rgba(128, 128, 128, 0.822);
        border-radius:77% 43% 38% 22%/90% 51% 89% 50% ;
        div{
            width: 100%;
            text-align: center;      
            padding: 15px 10px;            
            background-color: black;
            border-radius:10% 39% 21% 45%/48% 61% 39% 52%;
            h1{
                font-size: 3.5rem;
                letter-spacing: 4px;
                font-family: 'anto';
            }
            p{
                font-family: 'popi';
                font-size: 1rem; 
            }
        }
    }
    
}
#productos{
    .parrafo{
        margin-top: 30px;
        text-align: center;
        font-size: 5rem;
        font-family: 'anto';
        background-color: rgba(128, 128, 128, 0.178);
    }
    .nosotros{    
        text-align: center;       
        font-family: 'popi';
        font-size: 1.3rem;
        margin-top: 10px;
        color: black;
        font-weight: bold;
        line-height: 70px;
        background-color: rgba(128, 128, 128, 0.178);    
        margin-bottom: 40px;
        border-radius: 5px        
    }    
}
