.h2,
.h1 {
    width: 340px;
    height: 40px;
    font-family: 'anto';    
    padding-right: 20px;
    font-size: 2rem; 
    padding-left: 50px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px; 
    color: black; 
    background-color: grey;  
    border-radius: 95% 5% 80% 20% / 40% 54% 46% 60%;
    box-shadow: 2px 7px 20px -5px rgba(38, 63, 59, 0.788);
}

.table-hover{
    
    th{
        font-family:  'Times New Roman';
        font-size: 1.2rem;
        font-weight: bolder;        
    }
    td{
        font-family: 'popi';
        font-weight: bold;
        font-size: 0.9rem;           
    }
    
    .item-cuenta{    
        border-radius: 10px;
        padding: 0 50px;
        font-weight: bold;
        margin-top: 70px;
        font-size: 1.2rem;
        font-family: 'popi';
        background-color: rgba(128, 128, 128, 0.521);
    }
    
}
.seguir{
    border: none;
    padding: 5px 100px;
    font-size: 1rem;
    color: #fff;
    background: #135e70;
    box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, 0.4);
    border-radius: 15px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
        color: white;
    } 
}        

.contenedor {
    background: rgba(128, 128, 128, 0.158);
	width: 90%;
	max-width: 1000px;
	padding: 40px 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;       
    
/* ---------- Estilos Generales de las Tarjetas ----------*/
    .tarjeta {
        width: 100%;
        max-width: 550px;
        position: relative;
        color: #fff;
        transition: .3s ease all;
        transform: rotateY(0deg);
        transform-style: preserve-3d;
        cursor: pointer;
        z-index: 2;
        &.active {
            transform: rotateY(180deg);
        }
        > div {
            padding: 30px;
            border-radius: 15px;
            min-height: 315px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
            padding-bottom: 10px;
        }
        /* ---------- Tarjeta Delantera ----------*/
        .delantera {
            width: 100%;
            background: url(../imagenes/bgtarjeta.png);
            background-size: cover;
            .logo-marca {
                text-align: right;
                min-height: 50px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    max-width: 80px;
                }
            }
            .chip {
                width: 100%;
                max-width: 50px;
                margin-bottom: 20px;
            }
            .label {
                font-size: 16px;
                color: #a5a8ac;
                margin-bottom: 5px;
            }
            .numero,
            .nombre,
            .expiracion {
                color: #fff;
                font-size: 1rem;
                text-transform: uppercase;
            }
            .flexbox {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
            }
        }
        /* ---------- Tarjeta Trasera ----------*/
        .trasera {
            background: url(../imagenes/bgtarjeta.png);
            background-size: cover;
            position: absolute;
            top: 0;
            transform: rotateY(180deg);
            backface-visibility: hidden;            
            .barra-magnetica {
                height: 40px;
                background: #000;
                width: 100%;
                position: absolute;
                top: 30px;
                left: 0;
            }
            .datos {
                margin-top: 60px;
                display: flex;
                justify-content: space-between;
                p {
                    margin-bottom: 5px;
                }
                #firma {
                    width: 70%;
                    .firma {
                        height: 40px;
                        background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
                        p {
                            line-height: 40px;
                            font-family: 'Liu Jian Mao Cao', cursive;
                            color: #000;
                            font-size: 30px;
                            padding: 0 10px;
                            text-transform: capitalize;
                        }
                        
                    }
                }
                #ccv {
                    width: 20%;
                    .ccv {
                        background: #fff;
                        height: 40px;
                        color: #000;
                        padding: 10px;
                        text-align: center;
                    }
                }
            }
            .leyenda {
                font-size: 14px;
                line-height: 24px;
            }
            .link-banco {
                font-size: 14px;
                color: #fff;
            }
        }
    }     
    /* ---------- Contenedor Boton ----------*/
    .contenedor-btn .btn-abrir-formulario {
        width: 50px;
        height: 50px;
        font-size: 20px;
        line-height: 20px;
        background: rgb(0, 82, 86);
        color: #fff;
        position: relative;
        top: -25px;
        z-index: 3;
        border-radius: 100%;
        box-shadow: -5px 4px 8px black;
        padding: 5px;
        transition: all .2s ease;
        border: none;
        cursor: pointer;
        &:hover {
            background: rgb(1, 124, 131);
        }
        &.active {
            transform: rotate(45deg);
        }    
    }
        
    /* ---------- Formulario Tarjeta ----------*/
    .formulario-tarjeta {
        font-family: 'popi';
        background: #fff;
        width: 100%;
        max-width: 700px;
        padding: 150px 30px 30px 5px;
        border-radius: 10px;
        position: relative;
        top: -150px;
        z-index: 1;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path .3s ease-out;
        &.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        label {
            display: block;
            color: #7d8994;
            margin-bottom: 5px;
            font-size: 16px;
        }
        input,
        select,
        .btn-enviar {
            border: 2px solid #0f4a4d;
            font-size: 18px;
            height: 50px;
            width: 100%;
            padding: 5px 12px;
            transition: .3s ease all;
            border-radius: 5px;
        }
        input:hover,
        select:hover {
            border: 2px solid rgba(2, 123, 129, 0.671);
        }
        input:focus,
        select:focus {
            outline: rgb(4,4,4);
            box-shadow: 1px 7px 10px -5px rgba(90,116,148,0.3);
        }
        input {
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        .flexbox {
            display: flex;
            justify-content: space-between;
            font-size: 1rem;
        }
        .expira {
            width: 100%;
        }
        .ccv {
            min-width: 100px;
        }
        .grupo-select {
            width: 100%;
            margin-right: 15px;
            position: relative;
            i {
                position: absolute;
                color: #CED6E0;
                top: 18px;
                right: 15px;
                transition: .3s ease all;
            }
            &:hover i {
                color: #93bfed;
            }
        }
        select {
            -webkit-appearance: none;
        }
        
    } 
    .seguir,
    .btn-enviar {
        border: none;
        padding: 10px;
        font-size: 22px;
        color: #fff;
        background: #135e70;
        box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, 0.4);
        border-radius: 15px;
        cursor: pointer;
    
        &:hover {
            transform: scale(1.1);
            color: white;
        }
    }
    
}


