*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
     
}
@font-face {
    font-family:'great';
    src: url('../font/GreatVibes-Regular.ttf');    
}
@font-face {
    font-family:'popi';
    src: url('../font/Poppins-ExtraLight.ttf');    
}
@font-face {
    font-family:'anto';
    src: url('../font/Anthony Hunter.ttf');    
}

